.selected {
  padding: 2px 4px;
  font-family: "SF Mono", "Fira Code", monospace;
  background-color: var(--color-bg-elements);
  transition: background-color 0.3s ease;
  color: var(--color-neon);
  border-left: 3px solid var(--color-neon);
}
.tech_item {
  width: 15rem;
  font-family: "SF Mono", "Fira Code", monospace;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.technologies {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-self: flex-start;
  list-style: none;
  text-align: center;
}

.technologies::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background-color: #fff;
  opacity: 0.3;
}
