* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--color-bg);
  color: var(--color-text);
  line-height: 1.6;
  overflow-x: hidden;
  font-size: clamp(1rem, 2vw, 1.125rem);
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 1.5rem;
}

img {
  display: block;
  max-width: 100%;
}

:root {
  /* --color-bg: #132045;
  --color-bg-lighter: #162d6fb0;
  --color-text: #ebedef;
  --color-text-darker: #b9bcbf;
  --color-text-darkest: #a8a5a5f2; */
  --color-neon: #00e3cc;
  --max-width: clamp(320px, 90%, 1200px);
}

:root {
  --color-neon: #39ff14;
  --color-bg-lighter: #191a1d;
  --color-bg: #1a1b1e;
  --color-text: #eeeeee;
  --color-text-darkest: #222;
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
}
p {
  line-height: 1.6;
  margin-bottom: 1rem;
}
