.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
}

.content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 2rem;
}
.img_container {
  width: 50%;
  background-color: var(--color-neon);
}
.img {
  max-width: 100%;
  height: auto;
  opacity: 0.6;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.img:hover,
img:active {
  position: relative;
  transform: translate(-2%, -2%);
  opacity: 1;
}

.paragraph {
  text-align: left;
  color: var(--color-text);
}

@media screen and (max-width: 1200px) {
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
  }
  .img_wrapper {
    width: 100%;
  }
}
@media screen and (max-width: 666px) {
  .img_container {
    width: 80%;
    background-color: var(--color-neon);
  }
  .img {
  }
}
