.footer {
  display: flex;
  min-height: 50vh;
  flex-direction: column;
  text-align: center;
}

.footer_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.foot_text {
  font-family: var(--font-text-mono);
  color: var(--color-text-lighter);
  font-size: clamp(0.6rem, 0.9vw, 1em);
}
