.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
}
.tech_container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10%;
}

@media screen and (max-width: 835px) {
  .wrapper {
    min-height: fit-content;
  }

  .tech_container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0%;
  }
}

@media screen and (max-width: 666px) {
  .tech_container {
    flex-direction: column;
  }
}
