.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
}
.tech_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10%;
}

@media screen and (max-width: 768px) {
  .tech_container {
    margin-left: 0%;
  }
}

@media screen and (max-width: 666px) {
  .tech_container {
    flex-direction: column;
  }
}
