.project_container_small {
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.content_small {
  background-color: rgba(2, 14, 6, 0.858);
  border-radius: 12px;
  margin-bottom: 2rem;
  padding: 2%;
  box-sizing: border-box;
  text-align: left;
  list-style-type: none;
  box-shadow: 0 0 5px 0 var(--color-bg-elements);
}
.name_small {
}

.project_text_small {
}

.tech_list_small {
  list-style-type: none;
}
.tech_element_small {
}

.icons_small {
}
