.tech_tedails {
  display: flex;
  flex: 1;
  margin-left: 15%;
  flex-direction: column;
  text-align: left;
}
.heading {
  font-family: "SF Mono", "Fira Code", monospace;
}
.went {
  font-weight: 900;
  margin-bottom: 5%;
  letter-spacing: 1.5px;
}

.list_item {
  font-size: clamp(0.8rem, 1.5vw, 1rem);
  color: var(--color-text-lighter);
  list-style: none;
}
.tech_tedails li::before {
  content: "▹  ";
  color: var(--color-neon);
}

@media screen and (max-width: 768px) {
  .tech_tedails {
    margin-left: 5%;
  }
}
